mat-form-field:last-child {
    padding-left: 2rem;
}

form div {
    margin-bottom: 1.5rem;
}

button.active {
    border: 1px solid #52B09E;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &:disabled {
        color: #52B09E;
        opacity: 0.4;
    }
}