<mat-toolbar>
    <button mat-icon-button (click)="navOpen()">
        <mat-icon>menu</mat-icon>
    </button>
    <ul class="leftLinks">
        <li>
            <a routerLink="">
                <img class="brand" src="./assets/images/logo.png" alt="">
            </a>
        </li>
        <li>
            <a href="https://github.com/Keen1483?tab=repositories" target="_blank">
                <img class="github" src="./assets/images/github.png" alt="">
            </a>
        </li>
    </ul>
    <span class="spacer"></span>
    <ul class="rightLinks">
        <li>
            <a mat-button [routerLink]="[ '/home' ]" routerLinkActive="active">{{ 'nav.home' | translate }}</a>
        </li>
        <li>
            <a mat-button [routerLink]="[ '/skills' ]" routerLinkActive="active">{{ 'nav.skills' | translate }}</a>
        </li>
        <li>
            <a mat-button [routerLink]="[ '/experiences' ]" routerLinkActive="active">{{ 'nav.experiences' | translate }}</a>
        </li>
        <li>
            <a mat-button [routerLink]="[ '/contact' ]" routerLinkActive="active">{{ 'nav.contact' | translate }}</a>
        </li>
        <li>
            <a mat-button [routerLink]="[ '/mails' ]" routerLinkActive="active" *ngIf="authService.isLogged()">Mails</a>
        </li>
    </ul>
</mat-toolbar>