<div class="home">
    <p class="greeting active">{{ 'home.greeting' | translate }}</p>

    <h2 class="mat-display-2 name">Bernard Geraud Dongmo</h2>

    <div>
        <span class="mat-display-1 profession">{{ 'home.profession' | translate }}</span>
        
        {{ 'home.service' | translate }} {{ 'home.service_else' | translate }}
        <ul>
            <li>
                <mat-icon>check_circle</mat-icon>
                {{ 'home.service_item1' | translate }}
            </li>
            <li>
                <mat-icon>check_circle</mat-icon>
                {{ 'home.service_item2' | translate }}
            </li>
        </ul>
        
        {{ 'home.service_update_label' | translate }}
        <ul>
            <li>
                <mat-icon>check_circle</mat-icon>
                {{ 'home.service_update_item1' | translate }}
            </li>
            <li>
                <mat-icon>check_circle</mat-icon>
                {{ 'home.service_update_item2' | translate }}
            </li>
            <li>
                <mat-icon>check_circle</mat-icon>
                {{ 'home.service_update_item3' | translate }}
            </li>
        </ul>
        {{ 'home.current_learning' | translate }}
    </div>

    <p class="overview"><a href="https://appavenue-53413.web.app" target="_blank">{{ 'home.website_overview' | translate }}</a></p>

    <p>{{ 'home.thank_message' | translate }}</p>
    <a
        routerLink="/contact"
        mat-button
        matTooltip="{{ 'contact.tooltip_label' | translate }}"
        matTooltipShowDelay="500"
        matTooltipHideDelay="1000"
        class="active">{{ 'home.contact_me' | translate }}
    </a>
</div>