<div>
    <h2 class="mat-display-2">Contact</h2>

    <form>
        <div>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput [formControl]="email">
                <mat-hint align="end">Accept only valid email addresses</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Message</mat-label>
                <textarea name="" id="" matInput [formControl]="message"></textarea>
                <mat-hint align="end">Min 10 characters</mat-hint>
            </mat-form-field>
        </div>

        <button
            type="submit"
            mat-button
            matTooltip="Click to save your message"
            matTooltipShowDelay="500"
            matTooltipHideDelay="1000"
            class="active"
            (click)="submitForm()"
            [disabled]="email.invalid || message.invalid">Send
        </button>
    </form>
</div>