<div>
    <h2 class="mat-display-2">{{ 'skills.title' | translate }}</h2>
    {{ 'skills.summary' | translate }} {{ 'skills.summary_focus' | translate }}
    <ul>
        <li>
            <mat-icon>check_circle</mat-icon>
            Java EE
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            Jakarta EE
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            JPA
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            Hibernate
        </li>
        <span>{{ 'skills.backend_framework' | translate }}</span>
    </ul>
    {{ 'skills.frontend_label' | translate }}
    <ul>
        <li>
            <mat-icon>check_circle</mat-icon>
            JavaScript
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            TypeScript
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            HTML
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            SCSS
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            CSS
        </li>
        {{ 'skills.frontend_framework' | translate }}
        <li>
            <mat-icon>check_circle</mat-icon>
            Angular
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            Angular Material
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            jQuery
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            Bootstrap
        </li>
    </ul>
    <p>
        {{ 'skills.occasionally_work' | translate }}
    </p>

    <p>{{ 'home.thank_message' | translate }}</p>
    <a
        routerLink="/contact"
        mat-button
        matTooltip="{{ 'contact.tooltip_label' | translate }}"
        matTooltipShowDelay="500"
        matTooltipHideDelay="1000"
        class="active">{{ 'home.contact_me' | translate }}
    </a>
</div>