<div>
    <h2 class="mat-display-2">Skills</h2>
    Programming is my hobby. I had learned several programming languages, but in order to satisfy my clients quickly and efficiently, I focused on three of them. Thus, for the development of backend applications, I use:
    <ul>
        <li>
            <mat-icon>check_circle</mat-icon>
            Java EE
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            Jakarta EE
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            JPA
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            Hibernate
        </li>
        <span>All assisted by the Spring Boot framework</span>
    </ul>
    For the development of frontend applications, I use:
    <ul>
        <li>
            <mat-icon>check_circle</mat-icon>
            JavaScript
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            TypeScript
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            HTML
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            SCSS
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            CSS
        </li>
        All assisted by the frameworks
        <li>
            <mat-icon>check_circle</mat-icon>
            Angular
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            Angular Material
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            jQuery
        </li>
        <li>
            <mat-icon>check_circle</mat-icon>
            Bootstrap
        </li>
    </ul>
    <p>
        For unexpected needs on the realization of a project, I work occasionally and by necessity in PHP and Python.
    </p>

    <p>{{ mainService.thankMessage }}</p>
    <a
        routerLink="/contact"
        mat-button
        matTooltip="Click to write a message"
        matTooltipShowDelay="500"
        matTooltipHideDelay="1000"
        class="active">{{ mainService.contactLabel }}
    </a>
</div>