<div>
    <h2 class="mat-display-2">{{ 'experiences.title' | translate }}</h2>

    <div class="freelance">
        {{ 'experiences.freelance.label' | translate }}
        <ul>
            <li>
                <mat-icon>check_circle</mat-icon>
                {{ 'experiences.freelance.service1' | translate }}
            </li>
            <li>
                <mat-icon>check_circle</mat-icon>
                {{ 'experiences.freelance.service2' | translate }}
            </li>
            <li>
                <mat-icon>check_circle</mat-icon>
                {{ 'experiences.freelance.service3' | translate }}
            </li>
        </ul>
        <p>
            <a href="https://github.com/Keen1483/Microservice-Spring-Boot-for-user-management---JWT-Security---consumed-by-Angular-app" target="_blank">{{ 'experiences.freelance.repo_microservice' | translate }}</a>
        </p>
        <p>
            <a href="https://github.com/Keen1483/Upgrade-Spring-Boot-version-of-Microservice-Spring-Boot-for-user-management---JWT-Security---consume" target="_blank">{{ 'experiences.freelance.repo_upgrade' | translate }}</a>
        </p>
        <p>
            <a href="https://github.com/Keen1483/Frontend-of-Microservice-Spring-Boot-for-user-management---JWT-Security---consumed-by-Angular-app-pr" target="_blank">{{ 'experiences.freelance.repo_frontend' | translate }}</a>
        </p>
    </div>

    <div class="companies">
        {{ 'experiences.companies.label' | translate }}
        <p class="company">{{ 'experiences.companies.socsuba.duration' | translate }}</p>
        <ul>
            {{ 'experiences.companies.socsuba.label' | translate }}
            <li>
                <mat-icon>check_circle</mat-icon>
                {{ 'experiences.companies.socsuba.service1' | translate }}
            </li>
            <a href="https://github.com/Keen1483/Odoo-ERP-Android-Native-Application" target="_blank">{{ 'experiences.companies.gitrepo_label' | translate }}</a>

            <li>
                <mat-icon>check_circle</mat-icon>
                {{ 'experiences.companies.socsuba.service2' | translate }}
            </li>
            <a href="https://github.com/Keen1483/Odoo-ERP-Mobile-Android-Hybrid-Application" target="_blank">{{ 'experiences.companies.gitrepo_label' | translate }}</a>

            <li>
                <mat-icon>check_circle</mat-icon>
                {{ 'experiences.companies.socsuba.service3' | translate }}
            </li>
            <a href="https://github.com/Keen1483/Odoo-sales-support-applications" target="_blank">{{ 'experiences.companies.gitrepo_label' | translate }}</a>
        </ul>

        <p class="company">{{ 'experiences.companies.leckpa.duration' | translate }}</p>
        <ul>
            {{ 'experiences.companies.leckpa.label' | translate }}
            <li>
                <mat-icon>check_circle</mat-icon>
                {{ 'experiences.companies.leckpa.service1' | translate }}
            </li>
            <a href="https://github.com/Keen1483/Application-de-difusion-de-news" target="_blank">{{ 'experiences.companies.gitrepo_label' | translate }}</a>
        </ul>

        <p class="company">{{ 'experiences.companies.ministry.duration' | translate }}</p>
        <ul>
            {{ 'experiences.companies.ministry.label' | translate }}
            <li>
                <mat-icon>check_circle</mat-icon>
                {{ 'experiences.companies.ministry.service1' | translate }}
            </li>
            <a href="assets/pdf/FICHE-DE-PROJET-MONOGRAPHIE-HYDROLIQUE.pdf" target="_blank">{{ 'experiences.companies.ministry.label_pdf_link' | translate }}</a><br>
            <a href="https://github.com/Keen1483/Hydrolytic-monographs-in-rural-areas" target="_blank">{{ 'experiences.companies.gitrepo_label' | translate }}</a>
        </ul>

        <p class="company">{{ 'experiences.companies.young_dynamic.duration' | translate }}</p>
        <ul>
            {{ 'experiences.companies.young_dynamic.label' | translate }}
            <li>
                <mat-icon>check_circle</mat-icon>
                {{ 'experiences.companies.young_dynamic.service1' | translate }}
            </li>
            <a href="https://github.com/Keen1483/D-but-d-application-d-une-r-union" target="_blank">{{ 'experiences.companies.gitrepo_label' | translate }}</a>
        </ul>
    </div>

    <p>{{ 'home.thank_message' | translate }}</p>
    <a
        routerLink="/contact"
        mat-button
        matTooltip="{{ 'contact.tooltip_label' | translate }}"
        matTooltipShowDelay="500"
        matTooltipHideDelay="1000"
        class="active">{{ 'home.contact_me' | translate }}
    </a>
</div>